<% if feature_active?(:edit_buttons) && feature_active?(:option_selection) %>
  <div class='edit_buttons'>
    <%= link_to_with_icon 'tasks', 'Edit Product Options', admin_option_types_url, no_text: true, data: {action: 'edit', no_turbolink: true} if can?(:admin, Spree::OptionType) %>
  </div>
<% end %>
