<% if feature_active?(:edit_buttons) %>
  <div class='edit_buttons'>
    <%= link_to_with_icon 'edit', 'Edit Taxonomy', edit_admin_taxonomy_url(taxonomy), no_text: true, data: {action: 'edit', no_turbolink: true} if can?(:update, taxonomy) %>
  </div>
<% end %>
