<% if feature_active?(:edit_buttons) && variant && !variant.deleted? %>
  <div class='edit_buttons'>
    <%= link_to_with_icon 'edit', 'Edit Variant', edit_admin_product_variant_url(variant.product, variant), no_text: true, data: {action: 'edit', no_turbolink: true} if can?(:update, variant) %>
  </div>
<% end %>
